.wrapper{
    display: flex;
    justify-content: center;
    height: 30vh;
    padding-bottom: 10px;
}
.wrap{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}
.btnBlock{
    text-align: center;
}
.middleBtnBlock{
    display: flex;
    flex-direction: row;
}
.btn{
    width: 13vw;
    height: 6vh;
    background-color: #627CFA;
    border: 1px solid springgreen;
    box-shadow: 0 0 25px 1px rgb(20, 161, 224);
    color: rgb(3, 50, 66);
    font-size: 4vmin;
    overflow: auto;
}
.btn:nth-child(2){
    margin-left: 10px;
}
